@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f6f6f6;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}

.container {
  background-color: #fff;
  filter:
    drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.container .row {
  height: 45px;
  padding: 0 3px 0 15px;
  display: flex;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .container {
    width: 35%;
  }
}

.title {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 14px;
  color: #545862;
}

.icon-refresh {
  margin-right: 6px;
  cursor: pointer;
  animation: rotation 1s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.add-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 6px;
}

.add-item .icon-enter {
  cursor: pointer;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  transition: all ease-in 200ms;
}

.todo-item {
  cursor: default;
  transition: all ease-in 200ms;
}

.list-item:focus-within {
  background-color: #fffeca;
}

.todo-item:focus {
  background-color: #fffeca;
}

.icon-check {
  width: 12px;
  height: 12px;
  border: 2px solid #b6b6b8;
  border-radius: 2px;
  cursor: pointer;
}

.container input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 5px 0;
  font-size: 14px;
}

.container input::placeholder {
  font-size: 15px;
  font-style: italic;
}

.icon-move {
  cursor: move;
}

.clear {
  background-color: #f0f0f0;
  border-bottom: none;
  justify-content: center;
}

.clear p {
  color: #000;
  opacity: 0.5;
  font-size: 14px;
  cursor: pointer;
  transition: all ease-in-out 150ms;
}

.clear p:hover {
  text-decoration: underline;
  opacity: 1;
}
